@import "reset";
@import "pygments";
@import "bootstrap";

body {
	font-family: Verdana, Trebuchet MS, sans-serif;
}

@import "style";

// .navbar .brand {
// 	padding-left: 42px;
// 	background-image: url(/assets/cow38.png);
// 	background-repeat: no-repeat;
// }

.page-header {
	padding-left: 80px;
	background-image: url(/assets/8bit-bone.png);
	background-repeat: no-repeat;
	background-position: 14px 4px;
}

.forkme img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}