html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
.transition-left (@prop: left 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);) {
    -webkit-transition: @prop;
    -moz-transition: @prop;
    -o-transition: @prop;
    -ms-transition: @prop;
    transition: @prop;
}
.slide {
    position: fixed;
    top: 0;
    margin: 4px;

    &.anim {
        .transition-left();
    }
}
