---
layout: page
title: TBone
tagline: Automagic Event Binding for Backbone
---
{% include JB/setup %}

<p>TBone removes the complexity of manually managing data dependencies in Backbone, enabling "live" templates as well as functions that automatically re-execute when the data they reference changes.</p>

<!-- TBone is designed to scale with your application, enabling simple re-use of data throughout your application without you needing to tell the page what to update when that data changes. -->

<!-- At AppNeta, we've used TBone to eliminate a set of custom page events corresponding such as "refresh data" and "add filter"; with a large application, it becomes difficult to manage what exactly needs to be refreshed when something changes.  While Backbone is a critical step toward reducing this complexity, TBone enables us to do so without even thinking about event binding; every view and model stays in sync by design and without unnecessary work. -->

<ul tbone="tmpl exampleList"></ul>

<script type="text/example">

~html~
<div tbone="tmpl onMyDesk"></div>
<scrpt name="onMyDesk" type="text/tbone-tmpl">
    My <stapler><%=stapler.brand%> stapler is <%=stapler.color%></stapler>.
    <div>
        It is <input type="text" tbone="view input" data-value="stapler.color">
        <button>Click Me!</button>
    </div>
</scrpt>

~javascript~
var typingTimer;
tbone.createView('onMyDesk', function() {
    this.$('stapler').css('background', tbone('stapler.color'));
    this.$('button').click(function () {
        if (typingTimer) { clearTimeout(typingTimer); typingTimer = null; }
        var choices = [
            'red', 'hotpink', '#f00', '#bada55', 'rgba(255, 0, 0, 1)',
            'aquamarine', 'hsl(0, 100%, 50%)'
        ];
        var choice = choices[Math.floor(choices.length * Math.random())];
        var typed = '';
        function another () {
            typed += choice.charAt(0);
            T('stapler.color', typed);
            choice = choice.substr(1);
            typingTimer = choice ? setTimeout(another, 40 + 100 * Math.random()) : null;
        }
        another();
    });
});
tbone.createView('input', function () {
    var $this = this.$el;
    var prop = this.$el.data().value;
    var interacting;
    tbone(function () {
        var value = tbone(prop);
        if (!interacting) {
            $this.val(value || '');
        }
        interacting = false;
    });
    function update() {
        interacting = true;
        tbone(prop, $this.val());
    }
    $this.keydown(update).keyup(update).change(update).blur(update);
});
T('stapler.brand', 'Swingline');
T('stapler.color', '#f00');

</script>

<script name="exampleList" type="text/tbone-tmpl">
    <% _.each(examples, function (item, i) { %>
        <li tbone="tmpl example root <%@ item %>">
    <% }); %>
</script>

<script name="example" type="text/tbone-tmpl">
    <fragment>
        <h3>HTML</h3>
        <section>
            <pre><code class="html"><%=html_hl%></pre></code>
        </section>
    </fragment>
    <fragment>
        <h3>JS</h3>
        <section>
            <pre><code class="javascript"><%=javascript_hl%></pre></code>
        </section>
    </fragment>
    <fragment>
        <h3>Demo</h3>
        <section>
            <iframe src="demo.html?callback=<%=id%>"></iframe>
        </section>
    </fragment>
</script>

<p>TBone is freely redistributable under the <a href="https://github.com/appneta/tbone/blob/master/LICENSE">MIT License</a>.</p>

<script type="text/javascript">
  {% include js/index.js %}
</script>
