---
layout: page
title: TBone
tagline: Automagic Event Binding for Backbone
---
{% include JB/setup %}

<p>TBone removes the complexity of manually managing data dependencies in Backbone, enabling "live" templates as well as functions that automatically re-execute when the data they reference changes.</p>

<!-- TBone is designed to scale with your application, enabling simple re-use of data throughout your application without you needing to tell the page what to update when that data changes. -->

<!-- At AppNeta, we've used TBone to eliminate a set of custom page events corresponding such as "refresh data" and "add filter"; with a large application, it becomes difficult to manage what exactly needs to be refreshed when something changes.  While Backbone is a critical step toward reducing this complexity, TBone enables us to do so without even thinking about event binding; every view and model stays in sync by design and without unnecessary work. -->

<ul tbone="tmpl exampleList"></ul>

{% include examples.html %}
{% include templates.html %}

<p>TBone is freely redistributable under the <a href="https://github.com/appneta/tbone/blob/master/LICENSE">MIT License</a>.</p>

<script type="text/javascript">
{% include js/index.js %}
$('body').addClass('tbone-ready');
tbone.render($('[tbone]'));
</script>
