---
layout: page
title: TBone
tagline: Reactive Programming for JavaScript
---
{% include JB/setup %}

<p>TBone is a reactive / data-flow-oriented programming library, with a live templating system build atop it.</p>

<ul tbone="tmpl exampleList"></ul>

{% include examples.html %}
{% include templates.html %}

<p>TBone is freely redistributable under the <a href="https://github.com/appneta/tbone/blob/master/LICENSE">MIT License</a>.</p>

<script type="text/javascript">
{% include js/index.js %}
$('body').addClass('tbone-ready');
tbone.render($('[tbone]'));
</script>
