---
---
<!DOCTYPE html>
<link rel="stylesheet" href="/css/preso.css"></link>
<script src="/assets/lib.js"></script>
<script src="http://cdn.tbonejs.org/tbone-v0.5.0.js"></script>
<body>
    <style>slide { display: none; }</style>
    <div tbone="tmpl preso"></div>

    {% include examples.html %}
    {% include templates.html %}
    {% include slides.html %}
    <script type="text/javascript">
    var WRAP_EXAMPLE_HTML = true;
    var EXAMPLE_ZOOM = 2;
    {% include js/index.js %}
    {% include js/preso.js %}
    </script>
</body>
