<script name="Full Name" type="text/example">

~javascript~
T(function () {
    $('body').text(T('name.full'));
});
T('name.full', function () {
    return T('name.first') + ' ' + T('name.last');
});
T('name.first', 'Sally');
setTimeout(function () {
    T('name.last', 'Smith');
}, 1000);

</script>

<script name="The Sleeping XHR" type="text/example">

~css~
span, label {
    display: inline-block;
}
span {
    width: 20px;
}
span.fetched {
    background: green;
}
label {
    width: 80px;
}

~html~
<div>
    <label>ajax fetched:</label>
    <% _.each(fetched, function (wasfetched, i) { %>
        <span<% if (wasfetched) { %> class="fetched"<% } %> >
            <%=i%>
        </span>
    <% }); %>
    Total ajax requests: <%=numAjaxReqs%>
</div>
<div>
    <label> </label>
    <% _.each(ajaxModels, function (resp, i) { %>
        <% if (i >= 2 && i < 6) { %>
            <span><%=resp%></span>
        <% } else { %>
            <span> - </span>
        <% } %>
    <% }); %>
</div>

~javascript~
var ajaxModel = tbone.models.ajax.extend({
    ajax: function (opts) {
        T('fetched.' + this.id, true);
        T.increment('numAjaxReqs');
        opts.success('\u2603');
    },
    url: function () {
        return '/things/' + this.id;
    }
});
_.each(_.range(10), function (i) {
    T.push('ajaxModels', ajaxModel.make({ id: i }));
    T.push('fetched', false);
});

</script>

<script name="Red Stapler" type="text/example">

~html~
<div tbone="tmpl onMyDesk"></div>
<scrpt name="onMyDesk" type="text/tbone-tmpl">
    My <stapler><%=stapler.brand%> stapler is <%=stapler.color%></stapler>.
    <div>
        It is <input type="text" tbone="view input" data-value="stapler.color">
        <button>Click Me!</button>
    </div>
</scrpt>

~javascript~
var typingTimer;
tbone.createView('onMyDesk', function() {
    this.$('stapler').css('background', tbone('stapler.color'));
    this.$('button').click(function () {
        if (typingTimer) { clearTimeout(typingTimer); typingTimer = null; }
        var choices = [
            'red', 'hotpink', '#f00', '#bada55', 'rgba(255, 0, 0, 1)',
            'aquamarine', 'hsl(0, 100%, 50%)'
        ];
        var choice = choices[Math.floor(choices.length * Math.random())];
        var typed = '';
        function another () {
            typed += choice.charAt(0);
            T('stapler.color', typed);
            choice = choice.substr(1);
            typingTimer = choice ? setTimeout(another, 40 + 100 * Math.random()) : null;
        }
        another();
    });
});
tbone.createView('input', function () {
    var $this = this.$el;
    var prop = this.$el.data().value;
    var interacting;
    tbone(function () {
        var value = tbone(prop);
        if (!interacting) {
            $this.val(value || '');
        }
        interacting = false;
    });
    function update() {
        interacting = true;
        tbone(prop, $this.val());
    }
    $this.keydown(update).keyup(update).change(update).blur(update);
});
T('stapler.brand', 'Swingline');
T('stapler.color', '#f00');

</script>
