<script name="Full Name" type="text/example">

~desc~
<p>
    In this simple example, we bind the text of the page to `name.full`, then bind
    `name.full` to `name.first` + ' ' + `name.last` in order to demonstrate
    the core features of TBone.
</p>

~javascript~
T(function () {
    $('body').text(T('name.full'));
});
T('name.full', function () {
    return T('name.first') + ' ' + T('name.last');
});
T('name.first', 'Sally');
setTimeout(function () {
    T('name.last', 'Smith');
}, 1000);

</script>

<script name="Current Time" type="text/example">

~desc~
<p>
    Here, we create a live datasource with the current time, and use it to
    display the current date.
</p>

~javascript~
T(function () {
    $('body').text(T('now'));
});
setInterval(function update () {
    T('now', new Date());
}, 100);

</script>

<script name="Current Time Formatted" type="text/example">

~desc~
<p>
    Here, we create a live datasource with the current time, and use it to
    display the current date formatted to show just the time.
</p>

~javascript~
T(function () {
    $('body').text(T('formattedNow'));
});
T('formattedNow', function () {
    var now = T('now');
    return now ? (_.pad(now.getHours(), 2, '0') + ':' +
                  _.pad(now.getMinutes(), 2, '0') + ':' +
                  _.pad(now.getSeconds(), 2, '0')) : '';
});
setInterval(function update () {
    T('now', new Date());
}, 100);

</script>

<script name="Current Time Formatted View" type="text/example">

~desc~
<p>
    Here, we create a live datasource with the current time, and use it to
    display the current date formatted to show just the time in a view.
</p>

~html~
<%-formattedNow%>

~javascript~
T('formattedNow', function () {
    var now = T('now');
    return now ? (_.pad(now.getHours(), 2, '0') + ':' +
                  _.pad(now.getMinutes(), 2, '0') + ':' +
                  _.pad(now.getSeconds(), 2, '0')) : '';
});
setInterval(function update () {
    T('now', new Date());
}, 100);

</script>

<script name="Current Time Formatted View Many" type="text/example">

~desc~
<p>
    Here, we create a live datasource with the current time, and use it to
    display the current date formatted to show just the time in a repeated
    series of views.
</p>

~html~
<% _.each(_.range(20), function () { %>
    <span tbone="tmpl time"></span>
<% }); %>
<scrpt name="time" type="text/tbone-tmpl">
    <%-formattedNow%>
</scrpt>

~javascript~
T('formattedNow', function () {
    var now = T('now');
    return now ? (_.pad(now.getMilliseconds(), 3, '0')) : '';
});
setInterval(function update () {
    T('now', new Date());
}, 1);

</script>


<script name="Bind a Model to a View" type="text/example">

~desc~
<p>
    Here, we create a model, set a property on it, and bind it to a view.
    All queries to that view will be proxied to the view`s model.
</p>

~javascript~
T('myModelInstance', tbone.models.base.make());
T('myModelInstance.prop', 'hello world');
tbone.createView('itemView', function () {
    this.$el.text(this.query('prop'));
});

~html~
<div tbone="view itemView root myModelInstance"></div>

</script>

<script name="Pass each item of a list to a view" type="text/example">

~desc~
<p>
    To render a list of items as a list of subviews, you can pass each item
    directly to the subview by using the special `&lt;%@...%&gt;` token.
    If the item is not a model, a model will be created on the fly as
    temporary storage for your data.
</p>

~javascript~
T('myFriends', [{ name: 'Moe' }, { name: 'Larry' }, { name: 'Curly' }]);
tbone.createView('friendView', function () {
    this.$el.text('My name is ' + this.query('name'));
});

~html~
<ul>
    <% _.each(myFriends, function (friend) { %>
        <li tbone="view friendView root <%@friend%>"></li>
    <% }); %>
</ul>

</script>

<script name="The Sleeping XHR" type="text/example">

~desc~
<p>
    Here, we have a list of six models.  Each is an "ajax model," backed by data
    from an ajax call.  We`re only displaying data from three of them on the page,
    though, and so we only make the ajax calls for those three.  We override the
    default ajax function to just return a &#x2603; for each request.
</p>

~css~
span, label {
    display: inline-block;
}
span {
    width: 20px;
}
span.fetched {
    background: green;
}
label {
    width: 80px;
}

~html~
<div>
    <label>ajax fetched:</label>
    <% _.each(fetched, function (wasfetched, i) { %>
        <span<% if (wasfetched) { %> class="fetched"<% } %> >
            <%=i%>
        </span>
    <% }); %>
    Total ajax requests: <%=numAjaxReqs%>
</div>
<div>
    <label> </label>
    <% _.each(ajaxModels, function (resp, i) { %>
        <% if (i >= 1 && i <= 3) { %>
            <span><%=resp%></span>
        <% } else { %>
            <span> - </span>
        <% } %>
    <% }); %>
</div>

~javascript~
var ajaxModel = tbone.models.ajax.extend({
    ajax: function (opts) {
        T('fetched.' + this.id, true);
        T.increment('numAjaxReqs');
        opts.success('\u2603');
    },
    url: function () {
        return '/snowman/' + this.id;
    }
});
_.each(_.range(6), function (i) {
    T.push('ajaxModels', ajaxModel.make({ id: i }));
    T.push('fetched', false);
});

</script>

<script name="Red Stapler" type="text/example">

~desc~
<p>
    This demonstrates how to bind an &lt;input&gt; element to a TBone property.
</p>

~html~
My <stapler><%=stapler.brand%> stapler is <%=stapler.color%></stapler>.
<div>
    It is <input type="text" tbone="view input" data-value="stapler.color">
    <button>Click Me!</button>
</div>

~javascript~
var typingTimer;
tbone.createView('exampleView', function() {
    this.$('stapler').css('background', tbone('stapler.color'));
    this.$('button').click(function () {
        if (typingTimer) { clearTimeout(typingTimer); typingTimer = null; }
        var choices = [
            'red', 'hotpink', '#f00', '#bada55', 'rgba(255, 0, 0, 1)',
            'aquamarine', 'hsl(0, 100%, 50%)'
        ];
        var choice = choices[Math.floor(choices.length * Math.random())];
        var typed = '';
        function another () {
            typed += choice.charAt(0);
            T('stapler.color', typed);
            choice = choice.substr(1);
            typingTimer = choice ? setTimeout(another, 40 + 100 * Math.random()) : null;
        }
        another();
    });
});
tbone.createView('input', function () {
    var $this = this.$el;
    var prop = this.$el.data().value;
    var interacting;
    tbone(function () {
        var value = tbone(prop);
        if (!interacting) {
            $this.val(value || '');
        }
        interacting = false;
    });
    function update() {
        interacting = true;
        tbone(prop, $this.val());
    }
    $this.keydown(update).keyup(update).change(update).blur(update);
});
T('stapler.brand', 'Swingline');
T('stapler.color', '#f00');

</script>
