<script name="slide" type="text/tbone-tmpl">
    <% if (T('loadedSlides.' + id)) { %>
        <style tbone="tmpl reveal" data-id="<%-id%>"></style>
        <div class="contents" tbone="tmpl <%=name%>"></div>
    <% } %>
</script>

<script name="preso" type="text/tbone-tmpl">
    <% _.each(slides, function (slide) { %>
        <div tbone="tmpl slide root <%@slide%>"></div>
    <% }); %>
</script>

<script name="reveal" type="text/tbone-tmpl">
    <% _.each(_.range((T('revealed.' + view.$el.data('id')) || 0) + 1, 10), function (i) { %>
        .slide-<%-view.$el.data('id')%> .reveal-<%- i %> {
            display: none;
        }
    <% }); %>
</script>

<slide>
    <br>
    <a href="/">
        <h1 class="tbone-logo">
            TBone
        </h1>
        <h1 class="tbone-title">
            TBone
        </h1>
    </a>
    <br>
    <br>
    <h2>
        Reactive Programming for JavaScript
    </h2>
    <br>
    <br>
    <br>
    <a href="http://tillberg.us/about">
        <h3 class="author">
            Dan Tillberg
        </h3>
    </a>
    <a href="http://dev.appneta.com" target="_blank">
        <h3 class="appneta-logo">
            AppNeta
        </h3>
    </a>
    <br>
    <h5>
        Follow along at <a href="http://tbonejs.org/preso">http://tbonejs.org/preso</a>
    </h5>
</slide>

<slide>
    <h1>
        What is this thing?
    </h1>
    <h3>
        TBone's original purpose:
    </h3>
    <p class="reveal-1">
        Provide live templates on top of Backbone.
    </p>
    <p class="reveal-2">
        Because who doesn't need another live templating library?
    </p>
</slide>

<slide>
    <h1>
        What is this thing?
    </h1>
    <h3>
        TBone's second purpose:
    </h3>
    <p class="reveal-1">
        Use the dependency graph of models to put determine which models are actually used in the UI, and to put the others to sleep.  Out of 70 models in our app, only 10-20 typically are active on the page at any one time.
    </p>
    <p>
        <img class="reveal-2 bedtime-1" src="/assets/tbone_bedtime_stories_figure_1.png">
        <img class="reveal-3 bedtime-2" src="/assets/tbone_bedtime_stories_figure_2.png">
    </p>
    <p class="reveal-4">
        <img class="lots-of-models" src="/assets/lots_of_models_graph.png">
    </p>
</slide>

<slide>
    <h1>
        What is this thing?
    </h1>
    <h3>
        TBone's third purpose:
    </h3>
    <p class="reveal-1">
        A simple, general-purpose reactive programming library that can be used both
        to build applications directly and to build other libraries on top of it.
    </p>
    <p class="reveal-2">
        We're mostly going to talk about this here.
    </p>
</slide>

<slide>
    <h1>
        Why is reactive programming so awesome?
    </h1>
    <p class="reveal-1">
        Conquer async.  No async callbacks.  Instead, just write everything idempotently and TBone will rerun functions, models, and views as necessary.
    </p>
</slide>

<slide>
    <h1>
        Why else is reactive programming so awesome?
    </h1>
    <p class="reveal-1">
        The hardest UI bugs often look something like:
    </p>
    <ul class="reveal-1 small">
        <li>Why the heck does that li have a class of active?</li>
        <li>Why on earth is the value this function is passed '$3.14' instead of 314?</li>
    </ul>
    <p class="reveal-2">
        Live templating already empowers you trace where each HTML element, attribute, and piece of text comes from in your data.
    </p>
    <p class="reveal-2">
        Reactive programming empowers you trace the path of your data as well.
    </p>
    <p class="reveal-3">
        It's similar to functional programming in this way, though with reactive programming you can see and inspect the intermediate data; it's more akin to message-passing.
    </p>
</slide>

<slide>
    <h1>
        Crash Preview
    </h1>
    <div tbone="tmpl example root examplesByName.Current_Time"></div>
</slide>

<slide>
    <h3>
        Add in a formatting step...
    </h3>
    <div tbone="tmpl example root examplesByName.Current_Time_Formatted"></div>
</slide>

<slide>
    <h3>
        Now with a View
    </h3>
    <div tbone="tmpl example root examplesByName.Current_Time_Formatted_View"></div>
</slide>

<slide>
    <h3>
        Or with nested Views
    </h3>
    <div tbone="tmpl example root examplesByName.Current_Time_Formatted_View_Many"></div>
</slide>

<slide>
    <h1>
        Four Tenets of TBone
    </h1>
    <ul class="large">
        <li>Get: T(prop)</li>
        <li>Set: T(prop, value)</li>
        <li>Set w/fn: T(prop, fn)</li>
        <li>Run: T(fn)</li>
    </ul>
</slide>

<slide>
    <h1>
        Get: T(prop)
    </h1>
    <p>
        <pre>T('activeStep');</pre>
        <pre class="reveal-1">T('user.name.first');</pre>
        <pre class="reveal-2">T('widgets.4.price');</pre>
    </p>
    <p class="reveal-3">
        TBone evaluates each of these by splitting the string and doing a
        recursive lookup in a for loop.
    </p>
    <p class="reveal-4">
        In addition to returning the current value, TBone binds the
        current-executing T-function (more on that in a couple slides...)
        to changes in that value.
    </p>
</slide>

<slide>
    <h1>
        Set: T(prop, value)
    </h1>
    <pre>T('activeStep', 5);</pre>
    <pre class="reveal-1">T('user.name.first', 'Bob');</pre>
    <pre class="reveal-2">
T('widgets.5', {
    price: '$3.99',
    num: 5
});
    </pre>
    <p class="reveal-3">
        These change the value and fire change events accordingly.
    </p>
    <p class="reveal-4">
        TBone does what you might expect here:
    </p>
    <pre class="reveal-4">
T('widgets.4');     // &rarr; { price: '$3.99', num: 5 }
T('widgets.4.num'); // &rarr; 5
T('user.name');     // &rarr; { first: 'Bob' }
    </pre>
</slide>

<slide>
    <h1>
        Set w/fn: T(prop, fn)
    </h1>
</slide>

<slide>
    <h1>
        Run: T(fn)
    </h1>
</slide>

<slide>
    <ul>
        <li>T-set</li>
        <li>T-get</li>
        <li>T-functions</li>
        <li>Nested T-functions</li>
        <li>T-set w/ function</li>
        <li>T is a model</li>
        <li></li>
        <li>Template auto-instrumenting magic?</li>
        <li></li>
        <li>Ajax sleepy-time</li>

    </ul>
</slide>
