<script name="slide" type="text/tbone-tmpl">
    <% if (T('loadedSlides.' + id)) { %>
        <div class="contents" tbone="tmpl <%=name%>"></div>
    <% } %>
</script>

<script name="preso" type="text/tbone-tmpl">
    <% _.each(slides, function (slide) { %>
        <div tbone="tmpl slide root <%@slide%>"></div>
    <% }); %>
</script>

<slide>
    <h1 class="tbone-title">
        TBone
    </h1>
    <h2>
        Reactive Programming for JavaScript
    </h2>
    <br>
    <br>
    <h3 class="author">
        Dan Tillberg
    </h3>
    <h3 class="appneta-logo">
        AppNeta
    </h3>
</slide>

<slide>
    <h1>
        Another slide
    </h1>
    <div tbone="tmpl example root examplesByName.Full_Name"></div>

~javascript~

</slide>

<slide>
    <h1>
        Another slide
    </h1>

~javascript~

</slide>

<slide>
    <h1>
        Another slide
    </h1>

~javascript~

</slide>

<slide>
    <h1>
        Another slide
    </h1>

~javascript~

</slide>
