
<script name="exampleList" type="text/tbone-tmpl">
    <% _.each(examples, function (item, i) { %>
        <li id="<%=item.name_safe%>" tbone="tmpl example root <%@ item %>">
    <% }); %>
</script>

<script name="exampleListAbbrev" type="text/tbone-tmpl">
    <% _.each(examples, function (item, i) { %>
        <li><a href="#<%=item.name_safe%>"><%=item.name%></a></li>
    <% }); %>
</script>

<script name="demo" type="text/tbone-tmpl">
    <div tbone="tmpl demoTemplate" data-cache-bust="<%=Math.random()%>"></div>
    <% if (currDemoSafeName) { %>
        <a class="full-version" target="_blank" href="/#<%=currDemoSafeName%>">
            view code
        </a>
    <% } %>
    <% if (showAbbrevExampleList) { %>
        <ul tbone="tmpl exampleListAbbrev"></ul>
    <% } %>
</script>

<script type="text/javascript">
tbone.createView('demo', function () {
    this.$el.off('click').on('click', 'a.full-version', function () {
        T('showSource.' + T('currDemoSafeName'), true);
    });
});
</script>

<script name="example" type="text/tbone-tmpl">
    <h4>
        <a href="#<%=name_safe%>"><%=name%></a>
    </h4>
    <% if (desc) { %>
        <p>desc</p>
    <% } %>
    <% if (T('showSource.' + name_safe)) { %>
        <% if (html) { %>
            <fragment>
                <h3>HTML</h3>
                <section>
                    <pre><code class="html"><%=html_hl%></pre></code>
                </section>
            </fragment>
        <% } %>
        <% if (css) { %>
            <fragment>
                <h3>CSS</h3>
                <section>
                    <pre><code class="css"><%=css_hl%></pre></code>
                </section>
            </fragment>
        <% } %>
        <fragment>
            <h3>JS</h3>
            <section>
                <pre><code class="javascript"><%=javascript_hl%></pre></code>
            </section>
        </fragment>
    <% } %>
    <fragment>
        <h3>Demo</h3>
        <section>
            <div>
                <a class="update" href="#"><icon class="icon-refresh icon-refresh-animate"></icon></a>
                <a class="show_source" href="#">
                    <%=T('showSource.' + name_safe) ? 'hide' : 'show'%> source
                </a>
            </div>
            <iframe src="/example/#callback=<%=id%>"></iframe>
        </section>
    </fragment>
</script>
