extends layout

block headcss
  link(rel='stylesheet', href='/css/main.css')

block title
  != 'TBone | ' + page.title

block body
  .header
    .container
      a(href='/')
        span.tbone-logo
        span.tbone-title &nbsp;TBone
  .container
    .sidenav
      h4 Getting Started
      a(href='/', class='') Overview
      a(href='/setup') Setup
      a(href='/todo') Todo App
      .hr
      h4 API Documentation
      a(href='/base-model') base model
      .indent
        a(href='/base-model-query') query
      a(href='/runlet') runlet
      .indent
        a(href='/runlet-auto-binding') auto-binding
        a(href='/runlet-scheduler') scheduler
      a(href='/bound-value-models') bound-value models
      .indent
        a(href='/bound-value-models-bound') bound
        a(href='/bound-value-models-async') async
        .indent
          a(href='/bound-value-models-async-sleeping') sleeping
        a(href='/bound-value-models-ajax') ajax
      a(href='/collections') collections
      a(href='/utility-models') utility models
      .indent
        a(href='/utility-models-location') location
        a(href='/utility-models-localstorage') localStorage
      a(href='/react-integration') React integration
      a(href='/debugging') debugging
      a(href='/utility-functions') utility functions
      .hr
      a(href='/contributing') Contributing
      a(href='https://github.com/appneta/tbone') Github
      a(href='https://github.com/appneta/tbone/blob/master/LICENSE') MIT License
    .content
      h1
        != page.title
      != page.html
  script(src="/js/main-bundle.js")
