extends layout

block headcss
  link(rel='stylesheet', href='/css/main.css')

block title
  != 'TBone | ' + page.title

block body
  .container
    .sidenav
      h4 Getting Started
      a(href='/', class='') Overview
      a(href='/todo') Todo App
      .hr
      h4 More Stuff
      a(href='/more1') More 1
      a(href='/more2') More 2
    .content
      != page.html
  script(src="/js/main-bundle.js")
