extends layout

block head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width')
  title TBone Example
  style.
    html {
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
        padding: 4px 0 0 4px;
    }
    a.full-version {
        position: absolute;
        top: 4px;
        right: 4px;
        text-decoration: none;
        font-size: 80%;
    }

block body
  style(class="democss")
  script(src="/js/lib.js")
  script var TBONE_DEBUG = !location.hash || !location.hash.match(/^callback=/);
  script(src="https://cdn.tbonejs.org/tbone-0.6.0.min.js")
  div(tbone="tmpl demo")

  include examples.html
  include templates.html

  script(src="/js/iframe_demo.js")
  script.
    T('location', tbone.models.location.make());
    var isDemoLoaded;
    T(function () {
        if (isDemoLoaded) {
            location.reload();
            return;
        }
        var hash = (T('location.hash') || '').substring(1);
        if (hash.match(/^callback=/)) {
            var demoId = location.hash.split('=')[1]; // hacky way of reading callback=<id>
            function callParent() {
                return window.parent.demoCallbacks[demoId].apply(this, arguments);
            }
            var demo = callParent('init');
            tbone.addTemplate('exampleView', demo.html || '');
            if (demo.css) {
                $('.democss').html(demo.css);
            }
            eval(demo.javascript);
            $('body').css('zoom', demo.zoom);
            _.defer(function () {
                callParent('setcss', {
                    height: $('html').height() + 8
                });
            });
        } else {
            var demo = _.find(T('examples') || [], function (example) {
                return example.name_safe === hash;
            });
            T('showAbbrevExampleList', !demo);
            T('currDemoSafeName', demo ? demo.name_safe : null);
            if (demo) {
                tbone.addTemplate('exampleView', demo.html || '');
                if (demo.css) {
                    $('.democss').html(demo.css);
                }
                eval(demo.javascript);
            }
        }
        isDemoLoaded = true;
    });
    tbone.render($('[tbone]'));
