doctype html
html(lang='en')
  head
    block headcss
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title
      block title
        != locals.title
  body
    block body
    script(src="/autoreload.js", async='true')
