extends layout

block title
  | TBone Presentation

block headcss
  link(rel='stylesheet', href='/css/preso.css')

block body
  style slide { display: none; }
  div(id="presentation")
  include examples.html
  include templates.html
  include slides.html

  // script(src="https://cdn.tbonejs.org/tbone-master.min.js")
  script
    | var WRAP_EXAMPLE_HTML = true;
    | var EXAMPLE_ZOOM = 2;
  script(src="/js/main-bundle.js")
