extends layout

block head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width')
  title TBone Presentation
  link(rel='stylesheet', href='/css/preso.css')

block body
  style slide { display: none; }
  div(tbone="tmpl preso")
  include examples.html
  include templates.html
  include slides.html

  script(src="/autoreload.js")
  script(src="../js/lib.js")
  script(src="https://cdn.tbonejs.org/tbone-2.0.0.min.js")
  script
    | var WRAP_EXAMPLE_HTML = true;
    | var EXAMPLE_ZOOM = 2;
  script(src="../js/iframe_demo.js")
  script(src="../js/preso.js")
