<script name="slide" type="text/tbone-tmpl">
    <% if (T('loadedSlides.' + id)) { %>
        <style tbone="tmpl reveal" data-id="<%-id%>"></style>
        <corner><%-id + 1%> of <%-T('slides.length')%></corner>
        <div class="contents" tbone="tmpl <%=name%>"></div>
    <% } %>
</script>

<script name="preso" type="text/tbone-tmpl">
    <% _.each(slides, function (slide) { %>
        <div tbone="tmpl slide root <%@slide%>"></div>
    <% }); %>
</script>

<script name="reveal" type="text/tbone-tmpl">
    <% _.each(_.range((T('revealed.' + view.$el.data('id')) || 0) + 1, 10), function (i) { %>
        .slide-<%-view.$el.data('id')%> .reveal-<%- i %> {
            /*-webkit-filter: grayscale(0.7) blur(4px);*/
            opacity: 0.03;
        }
    <% }); %>
</script>
